@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

*{
	font-family: 'Hanna', fantasy;
}
h5 .sub-title-undeline{
	align: center;
	text-decoration: underline;
	text-underline-position:under;
	padding-bottom: 15px;
}

.inline-form{
	border-bottom: 1px solid;
}

hr.sub-hr{
	border-top: double 3px;
	color: darkgray;
	width: 100%;
}

hr .sub-secondary-hr{
	border: 1px solid;
	color: lightgray;
	width: 100%;
}

.padding-right{
	padding-right: 15px;
}

a .productViewA{
	color: black;
}

.productViewA:visited{
	color: black;
}
.productViewA:active{
	color: green;
}
.productViewA:hover{
	color: blue;
}

.orderBtn{
	width: 50px;
	height: 30px;
	font-size: 12px;
	padding: 5px 0;
}
