@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

*{
	font-family: 'Hanna', fantasy;
}



body{
 background-color: #1e1e27;
}
h2.first{
 color:white;
}
h2.second{
 color:red;
}


.deleteTitle{
	color:red;
	font-weight:bold;
	text-align:center;
	text-decoration:underline;
	text-underline-position:under;
}
.subTitle font{
	color:white;
}	

a{
font-size: 18pt;
}
a:link{color:#B5AEC4;}
a:hover{color:white;}
a:visited{color:#B5AEC4;}
a:active {color:white;}
p{color:red;}

#sendQABtn{
	height: 50px;
}

.centering{
	align: center;
}
.admin-col{
	margin-top: 10px;
	padding-top: 5px;
}

.form-group{
	margin: 5px;
	padding: 5px;
}

.inline-form{
	border-bottom: 1px solid;
}

h5 .sub-title-undeline{
	align: center;
	text-decoration: underline;
	text-underline-position:under;
	padding-bottom: 15px;
}