<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tradingSQL">
<!-- 회원 정보 가져오기 -->
<select id="getCartList"  parameterType="String" resultType="cart">
	SELECT * from CART where CART_ORDER=#{id}
</select>
<select id="getOrderList"  parameterType="String" resultType="order">
	SELECT * from ORDERS where ORDER_ID=#{id}
</select>
<select id="getCouponList"  parameterType="String" resultType="coupon">
	SELECT * from BENEFIT_GRANT where GRANT_ID=#{id}
</select>

</mapper>












