<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="admin.bean.AdminDTO" alias="admin"/>
		<typeAlias type="admin.bean.AdminboardDTO" alias="adminBoard"/>		
		<typeAlias type="trading.bean.ShoppingCart" alias="cart"/>
		<typeAlias type="trading.bean.CouponDTO" alias="coupon"/>
		<typeAlias type="trading.bean.DeliveryDTO" alias="delivery"/>				
		<typeAlias type="trading.bean.EventDTO" alias="event"/>			
		<typeAlias type="member.bean.MemberDTO" alias="member" />						
		<typeAlias type="mail.bean.MessageDTO" alias="message" />
		<typeAlias type="trading.bean.OrderDTO" alias="order"/>			
		<typeAlias type="product.bean.ProductDTO" alias="product"/>	
		<typeAlias type="board.bean.QAboardDTO" alias="qa"/>	
		<typeAlias type="board.bean.ReviewboardDTO" alias="review"/>
		<typeAlias type="salesInfo.bean.SalesInfoDTO" alias="salesInfo"/>					
	</typeAliases>
</configuration>